*{
    margin: 0;
    padding: 0;
}
     body{
        margin: 0;
        padding: 0;
        background-image: url(image/007f1afdd99b82455a73386586d5a133.jpg);
        background-size:100% 100%;
        
     }
     header{
        width: 100%;
        
        position: relative;
     }
     nav{
        position: absolute;
        background-color: rgb(1, 1, 1);
        height: 80px;
        width: 100%;
        top: 60px;
        
     }
     .logo{
        position: absolute;
        color: chartreuse;
        left: 40px;
        top: 25px;
        font-family: 'Segoe UI';
        font-style: italic ;
     }
     label{
        font-size: 30px;
        font-weight: bolder;
     }
     nav ul{
        padding: 0;
        margin: 0;
        float: right;
        margin-right: 10%;
     }
     
    nav ul li a:hover{
        background-color: rgb(211, 201, 15);
        border-radius: 10px;
    } 
    
     nav ul li{
        font-size: 20px;
        top: 20px;
        position: relative;
        list-style: none;
        display: inline-block;
        justify-content: space-evenly;
     }
     
     nav ul li a{
        display:block;
        padding: 0 15px;
      color: chocolate; 
        text-decoration: none;
        line-height: 60px;
        font-size: 20px;
        font-weight: bolder;
        text-transform: uppercase;
     }
nav ul ul{
    position: absolute;
    top: 50px;
    display: none;

}


nav ul ul li a{
    font-size: 20px;
 
}


nav ul ul li{
    display: list-item;
    position: relative;
    width: 150px;
    
    

}
nav ul ul ul li{
    position: relative;
left: 150px;
}
nav ul li:hover>ul{
    display: block;
}